.marg{
      margin:0;
      padding:0;
}

.card-body
{
      max-width:100%;
    max-height:60%;
    display:block;
     background-image: url(pic2.jpg);
     
 

}

.card-body1
{
      max-width:100%;
    max-height:100%;
    display:block;
     background-image: url(pic3.jpg);
     
}
p{
    font-size:2vw;
}
